@{
    ViewData["Title"] = "Outsourcing and Quality Assurancet";
}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2>@ViewData["Title"]</h2>
    <div class="row">
      <p class="lead col-md-6">
        When is outsourcing required?
        Whenever a project has short-term needs that require more testers than the company has, 
        outsourcing quality assurance is the best solution. Furthermore, if your business needs a higher level
         of expertise and you only need help for one project, outsourcing is a quick and low-cost option.

        Short-term scenario
        When deciding whether to engage an outsourcing company to handle your QA project, there are several
         factors to consider. One factor is the overall project time frame. Whether the project is short term or
          one time, outsourcing the QA presents a number of significant benefits, namely cost. Hiring a full time
           QA person can be extremely costly for a company, especially if the assignment is short in nature.

        Outsourcing makes sense for a one-time project because you must have time to source a company that can
         manage your QA requirements based on your schedule. Once the project is complete, you no longer need to 
         pay for QA expenses.

        You and your project will benefit if you contract a superior software testing company like Axis Technical
         Group. Axis will provide considerable QA expertise at a reasonable rate, as opposed to the expense of 
         hiring an in-house QA person for this purpose.
    </p>
    <div class="col-md-6">
         <img src="~/images/quality.jpg" alt="Smiley face" width="100%">
      </div>
    </div>
    </div>
</div>
